<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<fabAtHomePrinter>
     <!--Unit of distance is mm for all values.-->
     <axis>
          <!--The name of the axis.  Must be unique among axes.  Must be X.-->
          <name>X</name>
          <!--The name of the motor that controls this axis.-->
          <motorName>motor0</motorName>
     </axis>
     <axis>
          <!--The name of the axis.  Must be unique among axes.  Must be Y.-->
          <name>Y</name>
          <!--The name of the motor that controls this axis.-->
          <motorName>motor1</motorName>
     </axis>
     <axis>
          <!--The name of the axis.  Must be unique among axes.  Must be Z.-->
          <name>Z</name>
          <!--The name of the motor that controls this axis.-->
          <motorName>motor2</motorName>
     </axis>
     <tool>
          <bay>
               <!--The name of the bay.  Must be unique among bays.  Must be Bay 0.-->
               <name>Bay 0</name>
               <!--The name of the motor that controls this bay or blank if no motor controls this bay.-->
               <motorName>motor3</motorName>
               <location>
                    <x>0</x>
                    <y>0</y>
                    <z>0</z>
               </location>
          </bay>
     </tool>
     <motion>
          <!--Distance that platform moves downwards when pause, cancel, or complete print.-->
          <platformDelta>40</platformDelta>
          <!--Magic constant from line 58 of FabAtHomeParameters.h in model 1 code.  Used to calculate values for pushout and suckback.-->
          <oldMsps>5000</oldMsps>
     </motion>
     <electronics>
          <!--Number of modules that are connected to printer.-->
          <numModules>4</numModules>
          <!--COM port that printer is connected to.-->
          <comPort>6</comPort>
          <!--Baud rate.-->
          <baudRate>19200</baudRate>
          <!--Group address of motors that control axes.-->
          <xyzGroupAddress>128</xyzGroupAddress>
          <motor>
               <name>motor0</name>
               <!--Address of the motor.-->
               <address>1</address>
               <!--Counts to move one unit of distance.-->
               <countsPerDistanceUnit>236.239</countsPerDistanceUnit>
               <!--Kp value of motor gains.-->
               <kp>2200</kp>
               <!--Kd value of motor gains.-->
               <kd>30000</kd>
               <!--Ki value of motor gains.-->
               <ki>0</ki>
               <!--IL value of motor gains.-->
               <il>16000</il>
               <!--OL value of motor gains.-->
               <ol>255</ol>
               <!--CL value of motor gains.-->
               <cl>0</cl>
               <!--EL value of motor gains.-->
               <el>32767</el>
               <!--SR value of motor gains.-->
               <sr>1</sr>
               <!--DB value of motor gains.-->
               <db>0</db>
               <!--Ticks per second.-->
               <ticksPerSecond>1953.125</ticksPerSecond>
          </motor>
          <motor>
               <name>motor1</name>
               <!--Address of the motor.-->
               <address>2</address>
               <!--Counts to move one unit of distance.-->
               <countsPerDistanceUnit>285.714</countsPerDistanceUnit>
               <!--Kp value of motor gains.-->
               <kp>1200</kp>
               <!--Kd value of motor gains.-->
               <kd>23000</kd>
               <!--Ki value of motor gains.-->
               <ki>0</ki>
               <!--IL value of motor gains.-->
               <il>16000</il>
               <!--OL value of motor gains.-->
               <ol>255</ol>
               <!--CL value of motor gains.-->
               <cl>0</cl>
               <!--EL value of motor gains.-->
               <el>32767</el>
               <!--SR value of motor gains.-->
               <sr>1</sr>
               <!--DB value of motor gains.-->
               <db>0</db>
               <!--Ticks per second.-->
               <ticksPerSecond>1953.125</ticksPerSecond>
          </motor>
          <motor>
               <name>motor2</name>
               <!--Address of the motor.-->
               <address>3</address>
               <!--Counts to move one unit of distance.-->
               <countsPerDistanceUnit>284.900</countsPerDistanceUnit>
               <!--Kp value of motor gains.-->
               <kp>1000</kp>
               <!--Kd value of motor gains.-->
               <kd>20000</kd>
               <!--Ki value of motor gains.-->
               <ki>0</ki>
               <!--IL value of motor gains.-->
               <il>16000</il>
               <!--OL value of motor gains.-->
               <ol>255</ol>
               <!--CL value of motor gains.-->
               <cl>0</cl>
               <!--EL value of motor gains.-->
               <el>32767</el>
               <!--SR value of motor gains.-->
               <sr>1</sr>
               <!--DB value of motor gains.-->
               <db>0</db>
               <!--Ticks per second.-->
               <ticksPerSecond>1953.125</ticksPerSecond>
          </motor>
          <motor>
               <name>motor3</name>
               <!--Address of the motor.-->
               <address>4</address>
               <!--Counts to move one unit of distance.-->
               <countsPerDistanceUnit>767.28</countsPerDistanceUnit>
               <!--Kp value of motor gains.-->
               <kp>1800</kp>
               <!--Kd value of motor gains.-->
               <kd>16000</kd>
               <!--Ki value of motor gains.-->
               <ki>0</ki>
               <!--IL value of motor gains.-->
               <il>0</il>
               <!--OL value of motor gains.-->
               <ol>255</ol>
               <!--CL value of motor gains.-->
               <cl>0</cl>
               <!--EL value of motor gains.-->
               <el>32767</el>
               <!--SR value of motor gains.-->
               <sr>1</sr>
               <!--DB value of motor gains.-->
               <db>0</db>
               <!--Ticks per second.-->
               <ticksPerSecond>1953.125</ticksPerSecond>
          </motor>
     </electronics>
</fabAtHomePrinter>